/.vscode/c_cpp_properties.json
/.vscode/launch.json

/robot_tasker/.vscode/*
/robot_tasker/robot_tasker.md
/robot_tasker/cmake/*

!/robot_tasker/cmake/*.template

/robot_tasker/build/*
/robot_tasker/papers/*
/robot_tasker/libs/*